:root
{
    --blue: #28afd0;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #fa626b;
    --orange: #fdb901;
    --yellow: #ffc107;
    --green: #5ed84f;
    --teal: #20c997;
    --cyan: #6967ce;
    --white: #fff;
    --gray: #6b6f80;
    --gray-dark: #464855;
    --primary: #6967ce;
    --secondary: #6b6f80;
    --success: #5ed84f;
    --info: #28afd0;
    --warning: #fdb901;
    --danger: #fa626b;
    --light: #babfc7;
    --dark: #464855;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --font-family-monospace: 'Comfortaa', cursive, 'Times New Roman', Times, serif;
}
hr {
	height: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	border-bottom-width: 0px;
	background-color: #4A4A4A;
	color: #4A4A4A;
}

img { border: 0; }

body {
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #000000;
	margin: 0px;
	padding: 0px;
}
.showlistlink {
	background:url(images/bglist.png);
	height:100%;
	width:100%;
	color:#FFFFFF;
	font-size:16px;
	position:fixed;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	display: none;
}

tr { font-family: "Segoe UI", Tahoma; font-size: 11px; line-height: 14.5px; color: #FFFFFF; }
input { font-family: "Segoe UI", Tahoma; font-size: 11px; }
select { font-family: "Segoe UI", Tahoma; font-size: 11px; }
textarea { font-family: "Segoe UI", Tahoma; font-size: 11.5px; }
a { color: #55aaff;  }
color { color: #FFFFFF; }

/*.show-table {display: block;}*/

/*.bootrapp buttom*/
.btn-primary:focus, .btn-primary:active {
    color: #fff;
    border-color: #7473d2;
    background-color: #7473d2;
    -webkit-box-shadow: 0 1px 2px 0 rgba(105, 103, 206, .451), 0 1px 3px 1px rgba(105, 103, 206, .302) !important;
    box-shadow: 0 1px 2px 0 rgba(105, 103, 206, .451), 0 1px 3px 1px rgba(105, 103, 206, .302) !important;
}
.btn:focus, .btn.focus, .btn:active, .btn.active {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-primary:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(105, 103, 206, .5);
    box-shadow: 0 0 0 0.2rem rgba(105, 103, 206, .5);
}
.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}
button, html [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}
button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.btn-primary {
    color: #fff;
    background-color: #6967ce;
}
.btn {
    font-weight: 600;
    letter-spacing: .8px;
}
.btn-primary {
    color: #fff;
    border-color: #6967ce;
    background-color: #6967ce;
}
.btn {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    -moz-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
/*.end  bootrapp buttom*/
.hide-table {display: none;}

.filelist a {
	text-decoration:none;
}
.filelist a:hover {
	text-decoration:underline;
}
.title {
	font-size: 18px;
	font-weight: bold;
}
.g {
	text-align:center;
	color:#00FF00;
}
.y {
	text-align:center;
	color:#FFFF00;
}
.r {
	text-align:center;
	color:#FF0000;
}
.n {
	text-align:center;
	color:blue;
}
.style1 {
	font-size: 12px;
	font-weight: bold;
}
.style2 {font-weight: bold}

.linkchecker-load{filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2;}

.font-black {
	color:#000;
}

.font-blue {
	color:#05F;
}

.caption {
	font-family: Tahoma;
	font-size: 11px;
}

th {
	border-left: 1px solid white;
}

/*
** All previous inline-style classes **
*/


/*the file checkbox menu */
.chkmenu
{
	color: #99C9E6;
}

/* the files list table header */
.flisttblhdr
{
	background-color: #4B433B;
	text-align: center;
	color: white;
}

.flisttblftr
{
	background-color: #4B433B;
	color: white;
	text-align: center;
}

.ftpprogress
{
	background-color:#FFFFFF;
	margin:1px;
	width:0%;
	height:8px;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: grey;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: green;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: red;
}
.label-unknow {
  background-color: purple;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}

.mess1 {
    background: #FFFFFF url(../images/bglist.png);
    width: 100%;
    padding: 12px;
}

.mess2 {
    background: #FFFFFF url(../images/bglist.png);
    width: 100%;
    padding: 12px;
    font-size: 12px;
    text-shadow: 0 0 5px rgb(81 203 238);
    font-weight: bold;
}

.shad {
	/*font-size: 10px;
	font-weight:bold;*/
}
.mfnam {
	color: #f5b041;
	/*font-size: 10px;
	font-weight:bold;*/
}
.mfname {
	color: #00ff00;
	/*font-size: 10px;
	font-weight:bold;*/
}
.mfsize {
    color: #ffcc33;
	/*font-size: 10px;
	font-weight:bold;*/
}
.mfdate {
    color: #bb8fce;
	/*font-size: 10px;
	font-weight:bold;*/
}
.mflink {
    color: #FF66FF;
	/*font-size: 10px;
	font-weight:bold;*/
}
.list {
	/*color: white;
	font-size: 10px;
	font-weight:bold;*/
}
.report {
	color: #ffcc33;
/*	font-size: 10px;
 	text-shadow: 0 0 5px rgba(0, 0, 0, 1); 
	font-weight:bold; */
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

element.style {
    display: block;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade.in {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.panel-body2 {
	padding: 1px; 
	margin: 0px; 
    background: #1c1f2a repeat-x;
	border-radius:15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
	-webkit-border-radius:0px 0px 15px 15px; /* este es el bueno */
}
.panel-body3 {
	padding: 1px; 
	margin: 0px; 
	background: #1c1f2a repeat-x;
	border-radius:15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
	-webkit-border-radius:0px 0px 15px 15px; /* este es el bueno */
}
.td11 {
	/*background-color: #FFFFFF;*/
	background-image: url("../images/bg.gif");
	line-height: 35px;
	font-size: 14px;
	font-family: "Tahoma", Verdana, Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	border: 1px solid #FFFFFF;
	border-left: 1 px;
	border-right: 1 px;
	border-top: 0;
	padding: 0; 
	margin: 0; 
	/*text-align:center;*/
	font-weight: bold;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topleft: 15px;
	-moz-border-radius-topright: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.table2 { 
	width: 80%;
	border: 1px solid #FFFFFF;
	border-left: 1 px;
	border-right: 1 px;
	border-top: 0;
	padding: 0; 
	margin: 0 auto; 
	/*background-color: #FFFFFF; */
	/*background:#FFFFFF url(../images/bglist.png);*/
    border-radius:15px 15px 15px 15px;
    -moz-border-radius:15px 15px 15px 15px;
    -webkit-border-radius:15px 15px 15px 15px;
	box-shadow: 1px 1px 5px #333;
	-webkit-box-shadow: 1px 1px 5px #333;
	-moz-box-shadow: 1px 1px 5px #333;
}
/* main.php */
.plugincolhd
{
	background-color:#657B87;
	color:#eee;
	padding:1px;
	width:102px;
	margin:1px auto 2px 1px;
}

.plugincollst
{
	color: #ccc;
}
.ServerFiles
{
	text-decoration: none;
	color: #FFC500;
}
.flistmouseon
{
	background-color: #F5A249;
	color: black;
}

.flistmouseoff
{
	background-color: #D49659;
	color: black;
}

.workswith
{
	text-align:center;
	padding:3px;
	color:#dedede;
	margin:0 auto;
	width:450px;
	font-size:9px;
	height:50px;
	overflow:auto;
	border:1px solid #666;
}

.autodel
{
	color:#FFCC00;
}

.cell-plugin
{
	height: 27px;
	width: 109px;
	font-family: "Tahoma";
	font-size: 10px;
	color: #FFC500;
	text-align: center;
	line-height: 27px;
	background: url(images/button_bg2.gif);
	background-position: center;
	background-repeat: no-repeat;
}

.button-auto
{
	height: 23px;
	width: 105px;
	margin-bottom: 1px;
	margin-top: 1px;
	font-family: "Tahoma";
	font-size: 10px;
	color: #FFAD00;
	text-align: center;
	border: 0px solid;
	background: #17668C url(images/button_bg3.gif);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* The progressbar for upload and download, including the outer div holder */
.progressouter
{
	border:1px solid #FFFFFF; width:300px; height:10px;
}

.progressdown
{
	background-color:#FFFFFF;
	width:0%;
	height:8px;
	margin: 1px;
}

.progressup
{
	background-color:#FFFFFF;
	width:0%;
	height:8px;
	margin: 1px;
}

/* The "new-and-improved" tabs xD */

.selected
{
	background-color: #85cbeb !important;
}

.cell-nav
{
	height: 31px;
	width: 119px;
	font-family: "Tahoma";
	font-size: 10px;
	color: #FFC500;
	text-align: center;
	background: #17668C url(images/button_bg1.gif);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.powered {
  font-family: Arial, sans-serif;
  color: #ff8700;
  font-size: 10px;
  line-height: 16px;
  font-weight: bold;
}

.copyright {
  font-family: Arial, sans-serif;
  line-height: 14px;
  color: #cccccc;
  font-size: 10px;
  font-weight: bold;
}

.copyright a {
  color: red;
  text-decoration: none;
}